.App {
  text-align: center;
}
.banner {
  background-color: black;
  color: white;
  margin-bottom: 50px;
}
.banner h1 {
  margin: 0;
  padding: 25px;
}
.btn-outline-dark {
  background-color: #EEEEEE;
  position: absolute;
  top: 30px;
  left: 30px;
}

/* Cards: Multiple pages */

.card {
  max-width: 25%;
}
.card-body {
  display: flex;
  justify-content: center;
}
.card-text {
  text-align: left;
  text-indent: 20px;
  margin-bottom: 100px;
}
.btn-primary {
  background-color: black;
  border-color: gray;
}
.btn-primary:hover {
  background-color: rgb(60,60,60);
  border-color: gray;
}

/* Home Page */

.homeCont {
  display: flex;
  justify-content: space-evenly;
  margin-top: 120px;
}
.link-hp {
  position: absolute;
  bottom: 25px;
}

/* Results Page */

.resultsPage {  
  margin-bottom: 50px;
}
.header {
  margin: 50px 0;
}
.resultsCont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.hcSummary {
  max-width: 50%;
  flex-basis: 40%;
  margin-bottom: 50px;
  padding-bottom: 10px;
}
.hcP {
  margin-top: 10px;
}
.divider {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border: gray solid 1px;
  margin-bottom: 20px;
}

/* Results Details Page */

.detailsCont {
  margin-bottom: 100px;
}
.date {
  text-align: left;
  margin-left: 100px;
}

/* Results Details Date Page */

.detailsDateCont {
  display: flex;
  justify-content: space-around;
  margin-bottom: 25px;
}
.details {
  flex-basis: 10%;
  line-height: 0.5;
}
.details h5 {
  text-decoration: underline;
  white-space: nowrap;
  margin-bottom: 1px;
}
.Lose {
  background-color: red;
  line-height: 1.2;
}
.Win {
  background-color: lime;
  line-height: 1.2;
}
.Highlight {
  background-color: yellow;
}