.App {
  text-align: center;
}
.banner {
  background-color: black;
  color: white;
  margin-bottom: 50px;
}
.banner h1 {
  margin: 0;
  padding: 25px;
}
.home {
  background-color: #EEEEEE;
  position: absolute;
  top: 30px;
  left: 30px;
}
#loading {
  background-color: black;
  border-color: gray;
  opacity: 1;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  width: 80%;
  padding: 200px 400px;
  font-size: 48px;
}
#loading span {
  width: 64px;
  height: 64px;
  margin-right: 20px;
  font-size: 16px;
}

/* Cards: Multiple pages */

.card {
  max-width: 25%;
}
.card-body {
  display: flex;
  justify-content: center;
}
.card-text {
  text-align: left;
  text-indent: 20px;
  margin-bottom: 100px;
}
.btn-primary {
  background-color: black;
  border-color: gray;
}
.btn-primary:hover {
  background-color: rgb(60,60,60);
  border-color: gray;
}

/* Home Page */

.homeCont {
  display: flex;
  justify-content: space-evenly;
  margin-top: 120px;
}
.link-hp {
  position: absolute;
  bottom: 25px;
}

/* Results Page */

.resultsPage {  
  margin-bottom: 50px;
}
.header {
  margin: 50px 0;
}
.resultsCont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.hcSummary {
  max-width: 50%;
  flex-basis: 40%;
  margin-bottom: 50px;
  padding-bottom: 10px;
}
.hcP {
  margin-top: 10px;
}
.divider {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border: gray solid 1px;
  margin-bottom: 20px;
}

/* Results Details Page */

.detailsCont {
  width: 90%;
  margin: 0 auto 100px auto;
}
.date {
  text-align: left;
  margin-left: 25px;
}
.vegasTable {
  width: 95%;
  margin: 0 auto;
}
.card-footer {
  margin-top: 20px;
  text-align: left;
  text-indent: 20px;
}

/* Results Details Date Page */

.table {
  margin-bottom: 25px;
}
.table th {
  width: 120px;
}
.back {
  background-color: #EEEEEE;
  position: absolute;
  top: 30px;
  right: 30px;
}
.Lose {
  background-color: red !important;  
  font-weight: bold;
}
.Win {
  background-color: lime !important;
  font-weight: bold;
}
.Highlight {
  background-color: yellow !important;
}
.topButton {
  display: block;
  position: fixed;
  transform: rotate(-90deg);
  bottom: 20px;
  right: 20px;
  z-index: 99; 
  border: none; 
  outline: none; 
  background-color: black; 
  color: white; 
  padding: 0px 6px;
  border-radius: 10px;
  font-size: 40px;
}
.topButton:hover {
  background-color: #555;
}
